/*================ TAGS ================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

p {
    margin: 0;
}


/*================ MEDIA ================*/
@media only screen and (max-width: 575px) {
    .custom-col-xs-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #cardContainer {
        padding: 0.8rem !important;
    }
}

@media only screen and (max-width: 390px) {
    #cardPriceContainer {
        display: flex;
        flex-direction: column;
    }
    #cardPriceContainer a {
        width: fit-content;
        margin-left: auto;
    }
}

@media only screen and (max-width: 300px) {
    #cardContainer {
        padding: 2rem !important;
    }
    .custom-col-xs-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #cardPriceContainer {
        flex-direction: row;
    }
}